<!-- Page -->
<div class="gla_page" id="gla_page">

<!-- NAVIGATION -->
<app-top-nav></app-top-nav>
<!-- END of NAVIGATION -->

  <!-- Content -->
  <section id="gla_content" class="gla_content">


        
      <!-- section -->
      <section class="gla_section gla_image_bck" data-color="#fff">
          
          
        <div class="container text-center" style="font-family: Cambria;">
            <p><img src="assets/images/flowers_slider/flowertop.png" data-bottom-top="@src:assets/images/flowers_slider/flowertop.png" height="150" alt=""></p>
            <h3>Onde Ficar?</h3>
           
            <!-- boxes -->
            <div class="gla_icon_boxes row text-center" style="display: flex;justify-content: center;align-items: center;text-align: center;">

                <!-- item -->
                <div>
                    <span class="gla_news_block">
                        <span class="gla_news_img">
                            <span class="gla_over" style="background-image:url(assets/images/quartoOurQuinta.jpg);"></span>    
                        </span>
                        <span class="gla_news_title" style="display: flex;justify-content: center;align-items: center;text-align: center;">Our Quinta</span>
                        <div style="display: flex;justify-content: center;align-items: center;text-align: center;">
                            <p>Dispõe de 15 Quartos para os convidados que queiram pernoitar na Quinta, com pequeno-almoço incluido.
                            <br>
                            <br><strong>Caso estejam interessados, falem connosco.</strong></p>
                        </div>
                            <div style="display: flex;justify-content: center;align-items: center;text-align: center;">
                                <p><b>HORÁRIOS:</b><br>
                                    <b>Check in:</b> entre as 15h00 e as 00h00 <br>
                                    <b>Check out:</b> até às 12h00 <br>
                                    <b>Pequeno-almoço:</b> entre as 7h00 e as 11h00</p>
                            </div>
                    </span>
                    
                </div> 

            </div>
            <!-- boxes end -->
            
        </div>
          <!-- container end -->

      </section>
      <!-- section end -->

  </section>
  <!-- section end -->

</div>
<!-- page end -->