<!-- Page -->
<div class="gla_page" id="gla_page">

<!-- NAVIGATION -->
<app-top-nav></app-top-nav>
<!-- END of NAVIGATION -->

  <!-- Content -->
  <section id="gla_content" class="gla_content">


        
      <!-- section -->
      <section class="gla_section gla_image_bck" data-color="#fff">
          
          
        <div class="container text-center">
            <p><img src="assets/images/flowers_slider/flowertop.png" data-bottom-top="@src:assets/images/flowers_slider/flowertop.png" height="150" alt=""></p>
            <h3>Onde Ficar?</h3>
           
            <!-- boxes -->
            <div class="gla_icon_boxes row text-center" style="display: flex;justify-content: center;align-items: center;text-align: center;">

                <!-- item -->
                <div>
                    <span class="gla_news_block">
                        <span class="gla_news_img">
                            <span class="gla_over" style="background-image:url(assets/images/quartoOurQuinta.jpg);"></span>    
                        </span>
                        <span class="gla_news_title" style="display: flex;justify-content: center;align-items: center;text-align: center;">A Our Quinta</span>
                        <div style="display: flex;justify-content: center;align-items: center;text-align: center;">
                            <p>Dispõe de 15 Quartos disponíveis para os convidados que queiram pernoitar na Quinta após o evento, com pequeno-almoço incluido.
                            <br>
                            <br>Caso estejam interessados falem connosco.</p>
                        </div>
                            <div style="display: flex;justify-content: center;align-items: center;text-align: center;">
                                <p>HORÁRIOS:<br>
                                Check in: entre as 15h00 e as 00h00 <br>
                                Check out: até às 12h00 <br>
                                Pequeno-almoço: entre as 7h00 e as 11h00</p>
                            </div>
                    </span>
                    
                </div> 

                <!-- item 
                <div class="col-md-4 col-sm-6">
                    <span class="gla_news_block">
                        <span class="gla_news_img">
                            <span class="gla_over" style="background-image:url(assets/images/quintamachadoscountryside.jpg);"></span>  
                        </span>
                        <span class="gla_news_title">Quinta dos Machados Countryside Hotel & Spa</span>
                            <p>Estrada Nacional 8 - Barras (Gradil)
                            <br>2665-006 Mafra, Portugal<br>
                            <br>A 3,2 kms da Our Quinta.
                            <br>Apressem-se a garantir disponibilidade e preços mais baixos, dado que é em época alta!</p> <br> 
                            <div class="elementor-text-editor elementor-clearfix">
                                <p><span style="color: #333333;">Booking: 
                                    <a href="https://www.booking.com/Share-fLZzcmW" target="_blank" style="color: #313e2c; margin-left: -11%;" rel="noopener">Quinta dos Machados Countryside Hotel & Spa</a>
                                </span>&nbsp;</p>
                            </div>                              
                    </span>
                </div> 

                 item 
                <div class="col-md-4 col-sm-6">
                    <span class="gla_news_block">
                        <span class="gla_news_img">
                            <span class="gla_over" style="background-image:url(assets/images/DolceCampoRealLisboa.jpg);"></span>  
                        </span>
                        <span class="gla_news_title">Dolce CampoReal Lisboa</span> <br>
                            <p>Rua do Campo
                            <br>2565-779 Turcifal, Portugal<br>
                            <br>A 8,8 kms da Our Quinta.
                            <br>Apressem-se a garantir disponibilidade e preços mais baixos, dado que é em época alta!</p> <br> 
                            <div class="elementor-text-editor elementor-clearfix" style="margin-top: 2% !important;">
                                <p><span style="color: #333333;">Booking: 
                                    <a href="https://www.booking.com/Share-F1Ep9u" target="_blank" style="color: #313e2c; margin-left: -11%;" rel="noopener">Dolce CampoReal Lisboa</a>
                                </span>&nbsp;</p>
                            </div>                          
                    </span>
                </div> 
                -->

            </div>
            <!-- boxes end -->
            
        </div>
          <!-- container end -->

      </section>
      <!-- section end -->

  </section>
  <!-- section end -->

</div>
<!-- page end -->