<!-- Page -->
<div class="gla_page" id="gla_page">

<!-- NAVIGATION -->
<app-top-nav></app-top-nav>
<!-- END of NAVIGATION -->

    <!-- Content -->
    <section id="gla_content" class="gla_content">

        <!-- section -->
        <section class="gla_section">
            
            <div class="container text-center">
                <p><img src="assets/images/flowers_slider/flowertop.png" data-bottom-top="@src:assets/images/flowers_slider/flowertop.png" height="150" alt=""></p>
                <h3>Detalhes do Casamento</h3>
                <h4 class="gla_subtitle">Domingo, Junho 09, 2024</h4><br>
                <h4 class="gla_subtitle">OUR QUINTA<br>Vila Franca do Rosáro - Mafra</h4>

                <!-- boxes -->
                <div class="gla_icon_boxes row text-left">

                    <!-- item -->
                    <div class="col-md-4 col-sm-6">
                        <span class="gla_news_block">
                            <span class="gla_news_img">
                                <span class="gla_over" style="background-image:url(assets/images/cerimonia.jpg);"></span>    
                            </span>
                            <span class="gla_news_title">O Local</span>
                            <p><strong>OUR QUINTA</strong><br>Rua Nossa Senhora da Memória<br>2665-419 Vila Franca do Rosário<br><br>Existe bastante espaço para estacionamento e um numero limitado de quartos para quem necessitar de passar a noite na quinta.<br><strong>Taxis e Uber</strong> estão disponiveis na zona.</p><br>
                        </span>
                    </div> 

                    <!-- item -->
                    <div class="col-md-4 col-sm-6">
                        <span class="gla_news_block">
                            <span class="gla_news_img">
                                <span class="gla_over" style="background-image:url(assets/images/cocktail.jpg);"></span>  
                            </span>
                            <span class="gla_news_title">O Horário</span>
                            <p><strong>A cerimonia de casamento irá realizar-se as 17h00</strong>.<br><br>Seguir-se-á o cocktail e recepção.</p><br><br><br><br><br><br>
                        </span>
                    </div> 

                    <!-- item -->
                    <div class="col-md-4 col-sm-6">
                        <span class="gla_news_block">
                            <span class="gla_news_img">
                                <span class="gla_over" style="background-image:url(assets/images/ourquinta_Placa.jpg);"></span>  
                            </span>
                            <span class="gla_news_title">Detalhes</span>
                            <ul>
                            <li> A cerimonia ira realizar-se no exterior e não será muito longa</li>
                            <li> Vão existir actividades exteriores bem como bar e sitios para conviver e tirar fotos</li>
                            <li> Todo o local tem condições para pessoas com mobilidade reduzida </li>
                            <li> O local é pet Friendly podem trazer os vossos companheiros de quatro patas </li>
                            </ul>
                        </span>
                    </div> 

                </div>
                <!-- boxes end -->
                
            </div>
            <!-- container end -->

        </section>
        <!-- section end -->
    
    </section>
    <!-- content end -->

</div>
<!-- page end -->