<!-- Page -->
<div class="gla_page" id="gla_page">

<!-- NAVIGATION -->
<app-top-nav></app-top-nav>
<!-- END of NAVIGATION -->

    <!-- Content -->
    <section id="gla_content" class="gla_content">

        <!-- section -->
        <section class="gla_section">
            
            <div class="container text-center" style="font-family: Cambria;">
                <p><img src="assets/images/flowers_slider/flowertop.png" data-bottom-top="@src:assets/images/flowers_slider/flowertop.png" height="150" alt=""></p>
                <!--<h3>OUR QUINTA</h3>
                <h4 class="gla_subtitle">Domingo, Junho 09, 2024</h4>
                -->
                <!-- boxes -->
                <div class="gla_icon_boxes row text-left">

                    <!-- item -->
                    <div class="col-md-4 col-sm-6" >
                        <span class="gla_news_block">
                            <span class="gla_news_img">
                                <span class="gla_over" style="background-image:url(assets/images/cerimonia.jpg);"></span>    
                            </span>
                            <span class="gla_news_title"><strong>Our Quinta</strong></span>
                            <p>Rua Nossa Senhora da Memória<br>2665-419 Vila Franca do Rosário<br>
                                <br>A quinta tem estacionamento e um número limitado de quartos para quem quiser passar a noite no local.<br><br><strong>Taxis e Uber</strong> estão disponiveis na zona.</p><br>
                        </span>
                    </div> 

                    <!-- item -->
                    <div class="col-md-4 col-sm-6">
                        <span class="gla_news_block">
                            <span class="gla_news_img">
                                <span class="gla_over" style="background-image:url(assets/images/cocktail.jpg);"></span>  
                            </span>
                            <span class="gla_news_title"><strong>O Horário</strong></span>
                            <p>A cerimónia irá realizar-se no exterio às 15:30<br><br></p><br><br><br><br><br><br>
                        </span>
                    </div> 

                    <!-- item -->
                    <div class="col-md-4 col-sm-6">
                        <span class="gla_news_block">
                            <span class="gla_news_img">
                                <span class="gla_over" style="background-image:url(assets/images/ourquinta_Placa.jpg);"></span>  
                            </span>
                            <span class="gla_news_title"><strong>Detalhes ##PRECISAMOS DE FOTO PARA ESTE###</strong></span>
                            <ul>
                            <li> A cerimónia irá realizar-se no exterior e não será muito longa</li>
                            <li> Todo o local tem condições para pessoas com mobilidade reduzida </li>
                            <li> O local é pet Friendly podem trazer os vossos companheiros de quatro patas </li>
                            <br><br><br>
                            </ul>
                        </span>
                    </div> 

                </div>
                <!-- boxes end -->
                
            </div>
            <!-- container end -->

        </section>
        <!-- section end -->
    
    </section>
    <!-- content end -->

</div>
<!-- page end -->